@model IEnumerable<WardrobeProject.Models.ClothingType>

@{
    ViewBag.Title = "Index";
}

<h2>Types of Clothing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClothingType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClothingType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClothingTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClothingTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClothingTypeID })
        </td>
    </tr>
}

</table>
