@model IEnumerable<WardrobeProject.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>@Html.DisplayFor(modelItem => item.ArticleName)</h3>
                    <p><img src="@Url.Content(item.ArticleImage)" class="img-thumbnail" />
                   
                    </p>
                    <p>@Html.ActionLink("View Details", "Details", new { id = item.ArticleID }, new { role = "button", @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    }
</div>





@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClothingType.ClothingType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.ColorType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion.OccasionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season.SeasonType)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleName)
        </td>
        <td>
            <img src="@Url.Content(item.ArticleImage)" 
                 class="img-thumbnail"
                 />
            @@*
    @* @Html.DisplayFor(modelItem => item.ArticleImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClothingType.ClothingType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.ColorType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.OccasionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season.SeasonType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArticleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleID })
        </td>
    </tr>
}

</table>*@
