<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*FontLoader Javascript to access Google Fonts*@
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script type="text/javascript">
  WebFont.load({
    google: {
      families: ['Lora','Playfair Display','Cormorant Garamond','Playfair Display SC','Playball']
    }
  });
    </script>

</head>
<body>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="~/Home/Index">Home</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="~/Articles">Wardrobe</a></li>
                            <li class="dropdown">
                                <a href="~/ClothingTypes" class="dropdown-toggle" data-toggle="dropdown">Clothing Categories <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/ClothingTypes/Tops">Tops</a></li>
                                    <li><a href="~/ClothingTypes/Bots">Bottoms</a></li>
                                    <li><a href="~/ClothingTypes/Shoes">Shoes</a></li>
                                    <li><a href="~/ClothingTypes/Accessories">Accessories</a></li>
                                    <li><a href="~/ClothingTypes/Dresses">Dresses</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="~/Home/About">About</a></li>
                            <li><a href="~/Home/Contact">Contact</a></li>
                            
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
                
            </nav>
        </div>

   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Not Copyrighted</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
